/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/* Tipografías */
@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatypePlusVariable.woff2') format('woff2'),
       url('/fonts/ABCDiatypePlusVariable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal italic;
  font-display: swap;
}

/* Estilos base */
:root {
  color-scheme: dark;
  --black: #1D1D1B;
  --white: #F5F5F5;
  --padding: 1.5rem;
}

html {
  font-family: 'ABC Diatype', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--black);
}

::selection {
  background-color: var(--white);
  color: var(--black);
}