---

---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos básicos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <title>Marc Flaquer</title>
    <meta name="description" content="Descripción breve de la página web para mejorar SEO.">
    <meta name="author" content="Tu Nombre o Empresa">
    <meta name="keywords" content="palabra clave 1, palabra clave 2, palabra clave 3">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- JS y librerías externas -->
    <script src="/js/script.js" defer></script>

</head>

<body>

</body>

</html>
