---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <div class="font-['ABC Diatype'] font-black text-5xl lg:text-7xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 whitespace-nowrap" transition:name="title-name">
    <a href="/">
        <h1>Marc Flaquer</h1>
    </a>
  </div>

</Layout>