---
const currentPath = Astro.url.pathname;
import { gsap } from "gsap";
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos básicos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <title>Marc Flaquer</title>
    <meta name="description" content="Descripción breve de la página web para mejorar SEO.">
    <meta name="author" content="kokepizza">
    <meta name="keywords" content="palabra clave 1, palabra clave 2, palabra clave 3">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- JS y librerías externas -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="/js/script.js" defer></script>
</head>

<body>
    <header>
        <div class="title-name">
            <a href="/">
                <h1>Marc Flaquer</h1>
            </a>
        </div>
        <div class="view-style">
            <a href="/" class={currentPath === '/' ? 'current-page' : ''}>Feed</a>
            <a href="/work-list" class={currentPath === '/work-list' ? 'current-page' : ''}>List</a>
        </div>
        <div class="nav">
            <a href="/about" class={currentPath === '/about' ? 'current-page' : ''}>About</a>
            <a href="/contact" class={currentPath === '/contact' ? 'current-page' : ''}>Contact</a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/marcflaquer.visuals/" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://www.behance.net/marcflaquer" target="_blank" rel="noopener noreferrer">Behance</a>
        </div>
    </header>
    <main>
        <section class="feed">
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="1">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/4.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="2">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/2.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="3">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/3.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="4">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/1.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="5">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/5.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="6">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/6.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="7">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/7.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="8">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/8.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="9">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/4.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="10">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/2.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="11">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/3.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="12">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/1.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="1">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/4.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="2">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/2.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="3">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/3.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
            <article class="feed-grid" data-slide>
                <a href="#" data-preview="4">
                    <div class="feed-project">
                        <figure class="feed-project-fig">
                            <img src="/images/1.jpg" alt="">
                        </figure>
                        <h2 class="feed-project-title">Títol projecte</h2>
                    </div>
                </a>
            </article>
        </section>
    </main>
</body>

</html>
