---
import Feed from '../components/Feed.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <div class="social">
        <a href="https://www.instagram.com/marcflaquer.visuals/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.behance.net/marcflaquer" target="_blank" rel="noopener noreferrer">Behance</a>
    </div>
    <Feed client:load/>

    <style is:inline>

        .title-name {
            font-family: 'Jokker', sans-serif;
            font-weight: 500;
            letter-spacing: 0em;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: clamp(1.5rem, 6vw, 3rem);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            filter: blur(.5rem);
            z-index: 100;
            pointer-events: none;
            transition: filter .7s ease;
            padding: var(--padding);
        }

    </style>

</Layout>
