---
import '../assets/styles.css';
import { Image } from 'astro:assets';
import img1 from '../assets/1.jpg';
import img2 from '../assets/2.jpg';
import img3 from '../assets/3.jpg';
import img4 from '../assets/4.jpg';
import img5 from '../assets/5.jpg';
import img6 from '../assets/6.jpg';
import img7 from '../assets/7.jpg';
import img8 from '../assets/8.jpg';
const currentPath = Astro.url.pathname;

// Array de proyectos con imagen y alt
const projects = [
  { img: img1, name: "Proyecto 1" },
  { img: img2, name: "Proyecto 2" },
  { img: img3, name: "Proyecto 3" },
  { img: img4, name: "Proyecto 4" },
  { img: img5, name: "Proyecto 5" },
  { img: img6, name: "Proyecto 6" },
  { img: img7, name: "Proyecto 7" },
  { img: img8, name: "Proyecto 8" },
];
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos básicos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <title>Marc Flaquer</title>
    <meta name="description" content="Descripción breve de la página web para mejorar SEO.">
    <meta name="author" content="kokepizza">
    <meta name="keywords" content="palabra clave 1, palabra clave 2, palabra clave 3">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="title-name">
            <a href="/">
                <h1>Marc Flaquer</h1>
            </a>
        </div>
        <div class="view-style">
            <a href="/" class={currentPath === '/' ? 'current-page' : ''}>Feed</a>
            <a href="/work-list" class={currentPath === '/work-list' ? 'current-page' : ''}>List</a>
        </div>
        <div class="nav">
            <a href="/about" class={currentPath === '/about' ? 'current-page' : ''}>About</a>
            <a href="/contact" class={currentPath === '/contact' ? 'current-page' : ''}>Contact</a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/marcflaquer.visuals/" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://www.behance.net/marcflaquer" target="_blank" rel="noopener noreferrer">Behance</a>
        </div>
    </header>
    <main>
        <section class="feed">
            {projects.map((project, i) => (
              <article class="feed-grid" data-slide>
                <a href="#" data-preview={i + 1}>
                  <div class="feed-project">
                    <figure class="feed-project-fig">
                      <Image src={project.img} alt={project.name} title={project.name} />
                    </figure>
                    <h2 class="feed-project-title">{project.name}</h2>
                  </div>
                </a>
              </article>
            ))}
        </section>
    </main>
    
    <script type="module" src="/public/scripts/script.js"></script>
</body>

</html>
