---
import { projects } from "../data/projects";
import Thumbs from "./Thumbs.astro";
import ProjectDisplay from "./ProjectDisplay.astro";
import "../styles/feed.css";
---

<section class="feed" data-feed>
  <div class="logo-mfs mw">
    <h1>Marc Flaquer</h1>
    <div class="logo-subtitle">
      <span>[</span>
      <p>Framing the instinct. Capturing the truth.</p>
      <span>]</span>
    </div>
  </div>
  <ProjectDisplay projects={projects} />
  <Thumbs projects={projects} />
</section>

<script>
  import "../scripts/feedController.js";
</script>