---
import { projects } from "../data/projects";
import Gallery from "./Gallery";
import Thumbnails from "./Thumbnails.astro";
---

<section class="feed">
  <Thumbnails projects={projects} />
  <Gallery client:visible projects={projects} />
</section>

<style>
    .feed {
        position: relative;
        height: calc(100vh - 4rem);
        padding-top: 4rem;
    }
</style>