.feed-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.project-card {
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.project-title {
  display: none;
}