---
import { projects } from "../data/projects";
import Gallery from "./Gallery";
import Thumbnails from "./Thumbnails.astro";
---

<section class="feed">
  <Thumbnails projects={projects} />
  <Gallery client:visible projects={projects} />
</section>

<style>
    .feed {
        position: relative;
        height: 100dvh;
        padding-top: 4rem;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
</style>