---
import { projects } from "../data/projects";
import Thumbs from "./Thumbs.astro";
import ProjectDisplay from "./ProjectDisplay.astro";
import ProjectTitle from "./ProjectTitle.astro";
import "../styles/feed.css";
---

<section class="feed" data-feed>
  <div class="logo-mfs">
    <h1>Marc Flaquer</h1>
  </div>
  <ProjectDisplay projects={projects} />
  <ProjectTitle projects={projects} />
  <Thumbs projects={projects} />
</section>

<script>
  import "../scripts/feedController.js";
</script>