---
import { projects } from "../data/projects";
import { Image } from "astro:assets";
import GalleryWrapper from "./GalleryWrapper";
---

<style is:inline>
    .gallery {
        position: relative;
        width: 100dvw;
        height: 100dvh;
        background-size: cover;
        background-position: center;
    }

    .projects-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: var(--padding);
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .projects-wrapper::-webkit-scrollbar {
        display: none;
    }

    .projects-container {
        display: flex;
        gap: .5rem;
        width: fit-content;
    }

    .project-card {
        flex: 0 0 auto;
    }

    .project-card:last-child {
        margin-right: 32vw;
    }

    .project-card:first-child {
        margin-left: 32vw;
    }

    img {
        object-fit: cover;
        user-select: none;
    }

    .projectmark {
        position: fixed;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 2px;
        height: 5rem;
        background-color: var(--white);
    }

</style>

<section class="gallery">
    <div class="project-title">
        <h2></h2>
    </div>
    <div class="projects-wrapper">
        <div class="projects-container">
            {projects.map((project) => (
                <a 
                href={project.slug}
                class="project-card"
                data-image={project.images[0].src}
                >
                    <Image src={project.images[0]} alt={project.name} width={80} height={50} />
                </a>
            ))}
        </div>
    </div>
    <div class="projectmark"></div>

    <GalleryWrapper client:load />
</section>