---
import { projects } from "../data/projects";
import { Image } from "astro:assets";
---

<style is:inline>
    .gallery {
        position: relative;
        width: 100dvw;
        height: 100dvh;
    }

    .projects-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: var(--padding);
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .projects-wrapper::-webkit-scrollbar {
        display: none;
    }

    .projects-container {
        display: flex;
        gap: .5rem;
        width: fit-content;
    }

    .project-card {
        flex: 0 0 auto;
    }

    .project-card:last-child {
        margin-right: 32vw;
    }

    img {
        object-fit: cover;
        user-select: none;
    }
</style>

<section class="gallery">
    <div class="projects-wrapper">
        <div class="projects-container">
            {projects.map((project) => (
                <a href={project.slug} class="project-card">
                    <Image src={project.images[0]} alt={project.name} width={80} height={50} />
                </a>
            ))}
        </div>
    </div>
</section>