/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/* is:global */
:root {
    color-scheme: dark;
    --black: #1D1D1B;
    --white: #F5F5F5;
    --padding: 1.5rem;
}

@font-face {
    font-family: 'Jokker';
    src: url('/fonts/JokkerTRIALVF.woff2') format('woff2'),
            url('/fonts/JokkerTRIALVF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
         url('/fonts/RobotoMono-VariableFont_wght.woff') format('woff');
    font-weight: 100 700;
    font-style: normal;
}

html {
    font-family: 'Jokker', sans-serif;
    font-size: 14px;
    font-weight: 336;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--black)
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 470;
}

::selection{
    background-color: var(--white);
    color: var(--black);
} 

/* header */
header {
    position: fixed;
    padding: var(--padding) var(--padding) 0;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.view-style,
.nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    pointer-events: auto;
}

a.current-page {
    text-decoration: underline;
}

.nav {
    text-align: right;
}

.social {
    position: fixed;
    bottom: var(--padding);
    left: var(--padding);
    display: flex;
    flex-direction: column;
    gap:.5rem;
    pointer-events: auto;
    z-index: 100;
}

.view-style a:hover,
.nav a:hover,
.social a:hover {
    text-decoration: underline;
}