---
import { ClientRouter } from 'astro:transitions';
import '../assets/styles.css';
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos básicos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <title>Marc Flaquer</title>
    <meta name="description" content="Descripción breve de la página web para mejorar SEO.">
    <meta name="author" content="kokepizza">
    <meta name="keywords" content="palabra, palabra, palabra">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <ClientRouter />
</head>

<body>
    <header>
        <div class="view-style">
            <a href="/" class={currentPath === '/' ? 'current-page' : ''}>Feed</a>
            <a href="/work-list" class={currentPath === '/work-list' ? 'current-page' : ''}>List</a>
        </div>
        <div class="nav">
            <a href="/about" class={currentPath === '/about' ? 'current-page' : ''}>About</a>
            <a href="/contact" class={currentPath === '/contact' ? 'current-page' : ''}>Contact</a>
        </div>
    </header>
    <main>
        <div class="title-name" transition:name="title">
            <a href="/">
                <h1>Marc Flaquer</h1>
            </a>
        </div>

        <slot />
    </main>
    
    <script src="/scripts/script.js" is:inline></script>
</body>

</html>
